@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300;400&family=Roboto+Flex:opsz@8..144&display=swap');

html {
  margin: none;
}

body {
  background-color: #eff2f8;
  color: black; 
  font-family: 'roboto condensed', Arial, Helvetica, sans-serif;
}

