@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300;400&family=Roboto+Flex:opsz@8..144&display=swap');

body {
  background-color: #303030;
  color: white;
  font-family: 'roboto condensed', Arial, Helvetica, sans-serif;
}


