.container-main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 1200px;
    width: 1200px;
    border-top: 2.5em solid #8E969D;
    border-left: 2em solid #8E969D;
    border-right: 2em solid #8E969D;
    border-bottom: 8em solid #8E969D;
    border-radius: 5%;
}


.container-abso {
    position: absolute;
    left: 30px;
    bottom: 230px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.pad-grid-container {
    display: grid;
    background-color: #b8bbbf;
    padding: 1em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    width: 500px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.pad-grid-container div {
    text-align: center;
    background-color: #8E969D;
    border-radius: 3%;
    width: 8em;
    height: 8em;
}

.misc-buttons {
    position: relative;
    height: 430px;
    width: 330px;
    left: 850px;
    top : 390px;
    background-color: lightgray;
}

.etc-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    height: 100%;
    width: 95%;
}

.etc-container #item-1{
    margin: auto; 
    width: 50px; 
    height: 15px;
    background: ivory;
    border-radius: 5%;

}

.blue-block {
    position: relative;
    left: 625px;
    top: -40px;
    background-color: #25a5be;
    height: 200px;
    width: 180px;
}

.blue-container{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.blue-block #blue-1{
    background-color: ivory;
    height: 20px;
    width: 40px;
    border-radius: 5%;
}

.more-buttons{
    position: relative;
    left: 625px;
    top: -10px;
    background-color: #eff2f8;
    height: 200px;
    width: 180px;
}

.above-round-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    width: 100%;
}

#above-round-1 {
    height: 40%;
    width: 60px;
    border-radius: 5%;
    background-color: #8E969D;
}

#above-round-2 {
    height: 40%;
    width: 60px;
    border-radius: 5%;
    background-color: #8E969D;
}

.round-button-container {
    position: relative;
    height: 50%;
    width: 54%;
    left: 43px;
    border-radius: 50%;
    background-color: #8E969D;

}

.other-button-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    width: 100%;
}

.other-button-container div {
    height: 40%;
    width: 60px;
    border-radius: 5%;
    background-color: #8E969D;
}

#id-other-1{
    height: 45%;
    width: 50px;
    border-radius: 5%;
    background-color: #8E969D;
}

#id-other-2{
    height: 45%;
    width: 50px;
    border-radius: 5%;
    background-color: #8E969D;
}

#id-other-3{
    height: 45%;
    width: 50px;
    border-radius: 5%;
    background-color: #8E969D;
}