.container-main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 1200px;
    width: 1200px;
    border-top: 2.5em solid #8E969D;
    border-left: 2em solid #8E969D;
    border-right: 2em solid #8E969D;
    border-bottom: 8em solid #8E969D;
    border-radius: 5%;
}


.container-abso {
    position: absolute;
    left: 80px;
    bottom: 230px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.pad-grid-container {
    display: grid;
    background-color: #8E969D;
    padding: 1em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    width: 500px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.pad-grid-container div {
    text-align: center;
    background-color: lightgray;
    border-radius: 3%;
    width: 8em;
    height: 8em;
}

.misc-buttons {
    position: relative;
    height: 430px;
    width: 330px;
    left: 850px;
    top : 390px;
    background-color: lightgray;
}

.etc-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.blue-block {
    position: relative;
    left: 650px;
    top: -40px;
    background-color: #25a5be;
    height: 200px;
    width: 180px;
}

.blue-container{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.blue-block #blue-1{
    background-color: lightgrey;
    height: 20px;
    width: 40px;
    border-radius: 2%;
}