.screen-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    left: 750px;
    top: 80px;
    width: 400px;
    height: 150px;
}

.screen {
    display: inline-block;
    vertical-align: middle;
    border: solid 0.2px black;
    margin: 0 auto;
    width: 350px;
    height: 90px;
}